@font-face {
  font-family: "iconfont";
  src: url('./iconfont.woff2') format('woff2'),
      url('./iconfont.woff') format('woff'),
      url('./iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lr-heikehuaxiang:before {
  content: "\e6a2";
}

.lr-wenjian:before {
  content: "\e604";
}

.lr-yunkongjian:before {
  content: "\e666";
}

.lr-moni:before {
  content: "\e62b";
}

.lr-zhuizong:before {
  content: "\e61e";
}

.lr-fenxi:before {
  content: "\e755";
}

.lr-kongzhiyoudao:before {
  content: "\e65e";
}

.lr-bushu:before {
  content: "\e601";
}

.lr-jiankong-copy:before {
  content: "\e603";
}

.lr-jiahao:before {
  content: "\e721";
}

.lr-shezhi:before {
  content: "\e620";
}

.lr-guanji:before {
  content: "\e8d8";
}

.lr-chongqi:before {
  content: "\e62a";
}

.lr-jiantou:before {
  content: "\e60c";
}

.lr-Arrow:before {
  content: "\e600";
}

.lr-jiantou1:before {
  content: "\e66a";
}

.lr-mima:before {
  content: "\e60d";
}

.lr-user1:before {
  content: "\e789";
}

.lr-jinyong:before {
  content: "\e61b";
}

.lr-qiyong:before {
  content: "\e626";
}

.lr-dian:before {
  content: "\e608";
}

.lr-file:before {
  content: "\e637";
}

.lr-attack:before {
  content: "\e619";
}

.lr-weixie:before {
  content: "\e602";
}

.lr-image:before {
  content: "\e6df";
}

.lr-star-off:before {
  content: "\e63f";
}

.lr-view:before {
  content: "\e692";
}

.lr-star-on:before {
  content: "\e61a";
}

.lr-user:before {
  content: "\e607";
}

