* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  font-family: -apple-system, 'Helvetica Neue', '.SF NS', 'PingFang SC', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
p { margin: 0; }